.categorys{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 650px;
    background: rgba(6, 6, 63,0.3);
    z-index: 9999;
}
.categorys-container{
    float: left;
        width: 300px;
        height: 100%;
        background: white;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        transform: translatex(0%);
        animation: SlideCartWindow 0.3s ease forwards;
        overflow-y: scroll;
        overflow-x: hidden;
}
.categorys-container .top{
    background-color: rgb(9, 9, 40);
    width: 100%;
    padding: 5px 25px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.categorys-container .top .icon{
  font-size: 35px;
}
.categorys-container .top p{
    font-size: 18px;
    font-weight: 700;
}
.categorys-container .top .close{
    margin-left: 60px;
}
.categorys .categorys-container .main-category{
    margin-top: -20px;
}
.categorys-container .main-category h2{
    font-size: 30px;
    color: black;
    padding: 7px 10px;
   font-weight: 700;
   position: relative;
   margin-bottom: 0;
}
.categorys-container .main-category h2::after{
content: "";
position: absolute;
bottom: 0;
left: 12px;
height: 3px;
width: 50px;
background: rgb(6, 6, 42);
}
.categorys .categorys-container .main-category ul li{
list-style: none;
font-size: 20px;
letter-spacing: 1px;
font-weight: 500;
font-family: serif;
}
.categorys a{
    color: black;
}

/* ===================SUB CATEGORY====================== */
.sub-category{
    max-width: 1150px;
    margin: 20px auto;
    height: fit-content;
}
.sub-category .sub-head{
    font-size: 25px;
    color: rgb(37, 34, 34);
    font-weight: 700;
    font-family: serif;
    background: rgb(221, 221, 252);
    display: block;
   padding: 5px 20px;
    border-radius: 10px;
}
.sub-category .sub-category-sub{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.sub-category .sub-details{
    padding: 5px;
    margin-top: 30px;
    height: 200px;
    /* background: whitesmoke;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 0px 5px 5px rgba(222, 234, 244,03); */
}
.sub-category .sub-details img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(237, 224, 224);
  box-shadow: 0px 5px 5px rgba(222, 234, 244,03);
}
.sub-category .sub-details h1{
    font-size: 22px;
    color: black;
    text-align: center;
    position: relative;
    font-weight: 600;
    font-family: serif;
    margin-top: 10px;
}
/* =======================SUBCATEGORY PRODUCT======================== */
.sub-category-card{
    background: url("../../Images/4843717.jpg");
    width: 100%;
    height: 300px;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
.sub-category-product-card{
    max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 15px 5px;
  gap: 10px;
  
  
}
.sub-category-product-card .product{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
@keyframes SlideCartWindow {
    0%{
        transform: translateX(-100%);

    }
     100%{
        transform: translateX(0%);
     }
}