.home{
    width: 100%;
    height: fit-content;
}
.sub-home{
    width: 100%;
    background: rgb(246, 245, 245);
    height: fit-content;
    padding: 20px 0;
}

/* ===================BANNER CSS======================= */
.container{
    max-width: 1100px;
    margin: 20px auto;
}
.banner{
    display: flex;
   gap: 10px;
}
.banner .left{
    width: 550px;
    height: 400px;
}
.banner .carousel img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.right .upper, .right .lower{
    width: 550px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.upper .img, .lower .img{
    margin-bottom: 10px;
    width: 270px;
    height: 190px;
    object-fit: cover;
}
.upper .img img,
.lower .img img
{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =======================FEATURE CSS============================= */
.features{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
   gap: 35px;
    margin-top: 30px;

}
.features .flex{
    /* background: rgb(255, 255, 255); */
    display: flex;
    gap: 10px;
    align-items: center;
    width: 250px;
    /* height: 70px; */
    padding: 15px 5px;
    border-radius: 5px;
    /* justify-content: center; */

}
.features .icon{
    font-size: 30px;
}
.features .content p {
 font-size: 14px;
 font-weight: 700;
 margin: 0;
    
}
.features .content span {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    color: gray;
       
   }
.full-slider{
    width: 100%;
    height: 330px;
    object-fit: cover;
}